* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");

body {
    font-family: 'Mulish', sans-serif;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

/* navbar */
.navbar {
    z-index: 99;
    transition: 500ms ease;
    padding-bottom: 0%;
    padding-top: 0%;

}

.navbar.scrolled {
    background-color: white;
    box-shadow: 0 2px 12px -0 black;

}

.navbar-brand {
    font-weight: 700;
    font-size: 32px;
}

/* jumbotron */
.jumbotron {
    background-image: url("../assets/images/bgme.jpg");
    background-size: cover;
    background-position: 3px;
    height: 20%;
    text-align: center;
    position: relative;
}

.jumbotron .container {
    z-index: 1;
    position: relative;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 80%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4 {
    color: white;
    margin-top: 150px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    font-size: 40px;
    margin-bottom: 30px;
}

.jumbotron .display-4 span {
    font-weight: 700;
}

/* Info panel */
.info-panel {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: -100px;
    background-color: white;
    padding: 30px;
}

.info-panel p {
    font-size: 14px;
    color: #acacac;
    font-weight: 200;
}


/* footer */
.footer {
    margin-top: 100px;
}

.footer p {
    color: #acacac;
    font-size: 18px;
}


.custom-button {
    text-transform: uppercase;
    border-radius: 10px;
}

/* DESKTOP VERSION */
@media (min-width: 992px) {

    .navbar-brand,
    .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 25px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron {
        margin-top: -75px;
        height: 640px;
    }

    .jumbotron .display-4 {
        font-size: 62px;
    }

    .workingspace {
        text-align: left;
    }

    .testimonials h5 {
        font-size: 32px;
    }
}

h2{
    font-family: 'Mulish', sans-serif;
}



@media (max-width: 992px) {
    .navbar {
        background-color: white;
        padding-bottom: 2%;
    }
}


/* Button Social Media */

.fa {
    padding: 20px;
    font-size: 30px;
    width: 60px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-discord {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-skype {
    background: #00aff0;
    color: white;
}
